
.login{
    .login-form{
        .go-register{
            text-align: right;
            padding: 0.2rem;
            a{
                font-size: 0.24rem;
                color: #108ee9;
            }
        }
    }
}
.error-modal,
.success-modal {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #3b424e;
    padding: 0.2rem 0;
    font-size: 0.32rem;
    img {
        width: 0.96rem;
    }
}

.success-modal {
    .success-tip {            
        color: #ff6663;
        margin-top: 0.2rem;
        line-height: 0.45rem;
    }
}

.error-modal {
    p {
        margin-top: 0.2rem;
        span {
            color: #ff6663;
        }
    }
}